
{% extends "template.html" %}
{% load static %}

    {% block title %}Регистрация{% endblock title %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-5" align="center">
    <form method="post">{% csrf_token %}
  <div class="row g-3">
  <div class="col">
    {{form.Firstname}}
  </div>
  <div class="col">
    {{form.Surname}}
  </div>
    <div class="col">
      {{form.DateBirth}}
  </div>
</div>
      <br>
  <div class="col">
    {{form.Phone}}
  </div>
      <br>
  <div class="col">
    {{form.Email}}
  </div>
      <br>
  <div class="col">
   {{form.Password}}
  </div>
<br>

  <div class="col">
    <button type="submit" class="btn btn-warning">Зарегистрироваться</button>
  </div>
</form>
  </div>
</div>

{% endblock content %}
