{% extends "template.html" %}
{% load static %}

    {% block title %}Сегодня в кино{% endblock title %}

{% block content %}


<div class="row row-cols-1 row-cols-md-3" >
{% for film in Data %}
<div class="col mb-4">
<div class="card text-white bg-dark h-100">
<img src="{{ film.Icon.url }}" class="card-img-top">
<div class="card-body">
<h5 class="card-title">{{ film.Name }}</h5>
    <p class="card-text">{{ film.Genre }}</p>
    <p class="card-text">{{ film.Year }}</p>

</div>
<div class="card-footer" align="right">
<a href="{% url "HomePage:theFilm" id=film.Key_Film %}" class="btn btn-warning">Перейти</a>
</div>
</div>
</div>
{% endfor %}
</div>
{% endblock content %}
