{% extends "template.html" %}
{% load static %}

    {% block title %}Главная{% endblock title %}

{% block content %}
<div class="container" style="margin-bottom:2% ;">
  <div class="row" style="height: 550px">
    <div class="col-4" style="background-color: #fff">
      <h1 class="display-4" align="center"><b>«Yellow Shark»: рады вам всегда</b></h1>
      <p align="center" class="fs-5">Работаем с 2000 года</p>
      <p class="fs-5" align="center" >Пора немного поностальгировать. Наш самобытный Кинотеатр в формате drive-in дарит возможность смотреть кино всей семьей из уютного салона вашего автомобиля или разместиться на покрывале и наслаждаться фильмами под открытым небом. Располагайтесь поудобнее и получайте удовольствие от «поездки».</p>
    </div>
    <div class="col-8">
      <img class="img-fluid img-thumbnail" src="{% static "img/background.png" %}">
    </div>
  </div>
</div>
{% endblock content %}
