
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" content="wight=device-wight, initial-scale=1.0">
    <title>{% block title %}Default title{% endblock title %}</title>
    
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
  <style>
    body{
    background: black;
    }
  </style>


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img class="w-50" src="{% static "img/v4.png" %}"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url "HomePage:index" %}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "HomePage:today" %}">Сегодня в кино</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "HomePage:film" %}">Фильмы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "HomePage:Contact" %}">Контакты и расположение</a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-outline-light btn-md" data-bs-toggle="modal" data-bs-target="#LoginModal">
            Войти
          </button>
          <button class="btn btn-outline-light btn-md" onclick="window.location.href = '{% url "Client:reg" %}';">
            Зарегистрироваться
          </button>
        </li>




    </div>


  </div>
</nav>

   <br>
<form method="post" action="{% url "Client:login" %}">
{% csrf_token %}
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</form>
{% block content %}

{% endblock content %}


<footer class="mt-auto text-white-50">
  <div class="container">
    <div class="row">
    <div class="col-sm">

</div>
<div class="col-6" style="text-align: center;
font-size: 20px; color: yellow;">
<p class="lead">Все права защищены. Кинотеатр Drive-in "YellowShark" 2021 год</p>
</div>
<div class="col-sm">

</div>
</div>
</div>

</footer>

</body>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="{% static "bootstrap/js/bootstrap.js" %}"></script>



</html>