{% extends "template.html" %}

{% load static %}

    {% block title %}{{ film.Name }}{% endblock title %}

{% block content %}

<div class="card text-white bg-dark mb-3" >
  <div class="row g-0">
    <div class="col-md-4" >
      <div class="card-body" align="left">
        <h1 align="left" class="display-5" class="card-title">{{ film.Name }}</h1>
          <p align="left" class="fs-5" class="card-text">Год: {{ film.Year }}</p>
          <p align="left" class="fs-5" class="card-text">Жанр: {{ film.Genre }}</p>
          <hr>



      </div>


    </div>

<div align="center" class="row-g-0">

        {{ film.Video|safe }}
      </div>

      <div align="right" class="col-md-5">
        <br>
        <p align="left" class="fs-3" class="card-text">О фильме: </p>
        <p align="center" class="fs-4" class="card-text">{{ film.Description }}</p>

      </div>

    </div>
    <div align="right" class="col-md-5">
        <br>
        <p align="left" class="fs-3" class="card-text">Оценка: </p>
      fgfhgefhehtehghg
      </div>

</div>





{% endblock content %}